<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/signup">SignUp</a><br><br>
<a href="/login">Login</a><br><br>
<a href="/main">Protected Main Page</a><br><br>
<a href="/private">Protected Private Page</a>
