<h1>Signup! Gefälligst.</h1>

<form action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username" value="">
  <label>Password</label>
  <input type="password" name="hashWord"  value="">
  <button type="submit">Mach hinne!</button>
</form>

<br><br>

{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}